@import url("https://SweetBoy13735.GitHub.io/res/css/style.css");

input {
	color: whitesmoke;
	background-color: transparent;
	border: none;
	border-bottom: .125rem solid whitesmoke;
	margin-right: 1rem;
	font: inherit;
	outline: none;
	transition-property: border-bottom-color;
}

input::placeholder {
	color: whitesmoke;
}

input:focus {
	border-bottom-color: var(--night-red);
}
